<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <hr>
        <div class="form-container">
            <h2 class="text-center">Add New Appointment</h2>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Enter Name" required [(ngModel)]="appointment.name" autocomplete="name">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="text" id="age" name="age" placeholder="Enter Age" required [(ngModel)]="appointment.age" >
                </div>
                <div class="form-group">
                    <label for="symptoms">Symptoms</label>
                    <input type="text" id="symptoms" name="symptoms" placeholder="Enter Symptoms" required [(ngModel)]="appointment.symptoms" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="number">Number</label>
                    <input type="text" id="number" name="number" placeholder="Enter Number" required [(ngModel)]="appointment.number" autocomplete="tel">
                </div>
                <button type="submit" class="btn-submit">Submit</button>
            </form>
        </div>
      </div>
      
</body>
</html>